@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=PT+Sans+Narrow:wght@400;700&family=Righteous&family=Sarala&display=swap');
 
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #0b3938 16.62%, #602e67 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: rgba(236, 214, 196, 1);
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid rgba(236, 214, 196, 1); 
    }

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-imagem{
    border-radius: 50%;
    height: 230px;
    width: 230px;

}
.conteudo-principal-escrito { 
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.conteudo-principal-escrito-titulo {
    font-family:"Righteous", cursive;
    font-weight: 400;
    font-size: 64px;
    color: rgba(236, 214, 196, 1);
}

.conteudo-principal-escrito-subtitulo {
    font-family: "Sarala",sans-serif ;
    color: rgba(236, 214, 196, 1);
}

 .conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    margin-top: 48px;
    justify-content: space-around;
    font-family: "sarala", sans-serif;
    color: rgba(236, 214, 196, 1);
 }